{% import 'partical/nav.html' as nav %}
{% macro main() %}

<footer class="footer footer-transparent d-print-none">
    <div class="container-xl">
        <div class="row text-center align-items-center flex-row-reverse">
            <div class="col-lg-auto ms-lg-auto">
                {{ nav::main() }}
            </div>
            <div class="col-12 col-lg-auto mt-3 mt-lg-0">
                <ul class="list-inline list-inline-dots mb-0">
                    <li class="list-inline-item">
                        <a href="https://www.upyun.com/?utm_source=lianmeng&utm_medium=referral">又拍云</a> | <a href="https://shixiaocaia.fun/index.xml">RSS </a>| <a href="https://storeweb.cn/s/1488">虫洞</a> | <a href="https://beian.miit.gov.cn/">苏ICP备2022036708号-1 </a><br>
                        <a id="copyright"></a> shixiaocaia 在星际流浪了<a id="days"></a>天。
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <script>
    var s1 = '2022-06-03';//设置为建站时间
    s1 = new Date(s1.replace(/-/g, "/"));
    s2 = new Date();
	var year = s2.getFullYear();
    var days = s2.getTime() - s1.getTime();
    var number_of_days = parseInt(days / (1000 * 60 * 60 * 24));
    document.getElementById('days').innerHTML = number_of_days;
	document.getElementById("copyright").innerHTML = "©" + "2022 - " + year;
    </script>
    
    <script>
    (function(u, c) {
    var d = document, t = 'script', o = d.createElement(t),
        s = d.getElementsByTagName(t)[0];
    o.src = u;
    if (c) { o.addEventListener('load', function(e) { c(e); }); }
    s.parentNode.insertBefore(o, s);
    })('//cdn.bootcss.com/pangu/3.3.0/pangu.min.js', function() {
    pangu.spacingPage();
    });
    </script>
</footer>
{% endmacro main %}
